datasets/colmap_reconstructions/water_bottle_gui_pinhole_1camera/fused.ply.vis
datasets/colmap_reconstructions/water_bottle_gui_pinhole_1camera/fused.ply
datasets/colmap_reconstructions/water_bottle_gui_pinhole_1camera/stereo/normal_maps
datasets/colmap_reconstructions/water_bottle_gui_pinhole_1camera/sparse/points3D.txt
datasets/colmap_reconstructions/water_bottle_gui_pinhole_1camera/db.db

datasets/colmap_reconstructions/brg_rm_small_park-FullFrames/sparse/images.txt

datasets/colmap_reconstructions/cavignal-fountain_pinhole_1camera

Point_clouds_deb

10.02.25-gaussian_dome/points3D_output
10.02.25-gaussian_dome/ply_manipulation

